{% load static %}
<html>
    <head>
        <title>Erik's sinister #HighFive counter</title>
		<link rel="stylesheet" href="{% static 'hello/style.css' %}" />
    </head>
    <body>
		<div class="blue stuff-box">
			Visit http://144.39.173.24/hello/highFive
		</div>
        <div class="yellow stuff-box">
            <p class="big">#HighFive!</p>
			<p class="medium">Number of high fives given by this site: {{ highFives.count }}</p>
			{% if highFives %}
			<ol>
				{% for slap in highFives %}
				<li> {{ slap.when }} - {{ slap.who }}</li>
				{% endfor %}

			</ol>
			{% endif %}
        </div>

        <p><a href=".">Back</a></p>
    </body>
</html>
