{% load static %}
<html>
    <head>
        <title>How I shall take over the world</title>
		<link rel="stylesheet" href="{% static 'hello/style.css' %}"/>
    </head>
    <body>
        <div class="red stuff-box">
            <div class="big">Hello, world!</div>
            <div class="medium">Soon, you shall be mine!</div>
			<p>Right now it is {{ now }} </p>
        </div>

		{% if numbers %}
		<div class="yellow stuff-box">
			<p>Here are a few of my favorite numbers:</p>
			<ol start="0">
				{% for n in numbers %}
				<li>{{ n }}</li>
				{% endfor %}
			</ol>
		</div>
		{% endif %}


        <div class="blue stuff-box">
            <p class="medium">This website will enable me to meet the following goals:</p>
            <ul>
                <li>Earn lots of $$$</li>
                <li>Gather personal information from my users</li>
                <li>Get credit card numbers</li>
                <li>Sell my users out to the NSA</li>
                <li>Get my #hashtags trending on Twitter, Stumblr, Facebook</li>
            </ul>
        </div>

        <div class="yellow stuff-box">
            <p class="medium">And there is nothing you can do to stop me!!!</p>
        </div>

        <div class="white stuff-box medium">
			{{ highFiveCount }} high fives given to date - <a href="highFive">Do you want a high five?</a>
        </div>

    </body>
</html>
