{% load static %}

<html>
	<head>
		<meta charset="utf-8">
		<title>Fibonacci numbers</title>
		<link href="{% static 'fib/style.css' %}" rel="stylesheet">
	</head>

	<body>
        <div>
            <div class="stuff-box yellow shadowed">
				<h2>Compute the Nth Fibonacci number with your choice of AJAX APIs</h2>
				<ul>
					<li><a href="{% url 'fib:xhr' %}">XMLHttpRequest</a></li>
					<li><a href="{% url 'fib:fetch' %}">fetch() and Promises</a></li>
				</ul>
            </div>
        </div>

	</body>
</html>

