{% load static %}

<html>
	<head>
		<meta charset="utf-8">
		<title>Fibonacci numbers</title>
		<link href="{% static 'fib/style.css' %}" rel="stylesheet">
	</head>

	<body>
        <div>
            <div class="stuff-box green shadowed">
				<h2>Compute the Nth Fibonacci number via our awesome API and <code>XMLHttpRequest</code></h2>
                <input type="number" id="fib" name="fib">
                <button type="button" onclick="calculate()">Calculate</button>
				<h3 id="result"></h3>
				<p id="duration"></p>
            </div>
			<div id="fibonacci-slider" class="stuff-box red shadowed">
				<label for="list-slider" id="list-label">Fib(0)</label>
				<input id="list-slider" type="range" min="0" max="50" value="0" oninput="fiblist(this)"/>
			</div>
			<div> <a href="{% url 'fib:index' %}">Back</a> </div>
        </div>

		<script type="text/javascript">

			let protocol = 'http';
			let hostname = 'localhost:8000';

			let calculate = function() {
				document.querySelector('#result').textContent =	'Okay, hang on while I think about this...';

				let fibReqUrl = `${protocol}://${hostname}/fib/fibAPI?n=${document.querySelector("#fib").value}`;

				let fibReq = new XMLHttpRequest();
				fibReq.open('GET', fibReqUrl);
				fibReq.responseType = 'json';
				fibReq.onload = function() {
					let json = fibReq.response;
					let duration = new Date() - before;
					console.log(`The XHR callback received a result after ${duration}ms`);
					console.log(json);
					document.querySelector('#result').textContent = `Fib(${json['n']}) = ${json['fibonacci']}`;
					document.querySelector('#duration').textContent = `Why, that only took ${duration} milliseconds!`; 
				}
				let before = new Date();
				fibReq.send();
			}


			var fiblist = function(n) {
				// Remove an existing Fibonacci list
				let fiblist = document.querySelector('div.fib-list');
				if (fiblist) {
					fiblist.remove();
				}
				document.querySelector('#list-label').textContent = `Fib(${n.value})`;
				let list = fiblistHelper(Number.parseInt(n.value));
				document.querySelector('#fibonacci-slider').appendChild(list);
			}

			var fiblistHelper = function(n)  {
				// create a div that is .fib-list
				var div = document.createElement('div');
				div.setAttribute('class', 'fib-list');

				// fill it with a list of numbers
				for (var i = 0, a = 0, b = 1; i <= n; ++i, b = a + b, a = b - a) {
					var num = document.createElement('div');
					num.setAttribute('class', 'fib-item');
					var p = document.createElement('p');
					p.textContent = a;
					num.appendChild(p);
					div.appendChild(num);
				}

				return div;
			}

		</script>
	</body>
</html>

